@charset "utf-8";
@import url("../fonts/stylesheet.css");

.fluid {
	width: 100%;
	clear: both;
	float: left;
	text-align: center;
}

.fluidList {
    list-style-image: none;
}

body	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
	background: #FFFFFF;
}

ul	{
	list-style-type: none;
}

li	{
	margin: 0.125em 0 0 0;
	display: inline-block;
	padding-right: 0.875em;
}

a	{
	text-decoration: none;
}

a:link, a:visited	{
	color: #336699;
	outline: none;
}
a:hover	{
	color: #3399CC;
}

#wrapper	{

}

#cscheader	{

}

#logo	{

}

#cscmainnav	{
	font-size: 1.4em;
}

#main	{

}

#secondary	{

}

#cscfooter	{
	font-size: 0.8em;
	float: none;
}

.hide	{
	display: none;
}

a img	{
	border: none;
}

.group:after	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

}

/* Desktop Layout: 769px to a max of ####px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

}
