/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.group:after	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
ol, ul {
	list-style: none;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: white;
}

.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

div.textbox {
	padding: 0.2em 0.4em;
	margin: 0.3em;
	border: 0;
	border-radius: 4px;
}

div.textbox:hover {
    border: 0;	
	animation: pulse 1.5s infinite ease-in-out;
}

div.textbox a	{
	padding: 0.2em 0.7em 0 0.7em;
	border-radius: 0.3125em;
	margin: 0;
	outline: 0;
	display: inline-block;
	background-color: #FFFFCC;
	border: none;
	transition: none;
	text-decoration: none;
}
.divlinks	{
	opacity: 0.8;
	border-radius: 0.3125em;
	color:  #0000FF;
	background-color: #CCCCFF;
	display: inline-block;
	padding: 0 1.5em;
}


/*	==============================================================
	Contact Us form styling
	==============================================================  */
	
#userform	{
/*	overflow: auto;
	font-size: medium;
	padding: 0.625em 0.625em 0.625em 1.25em;
*/
}
#userform fieldset	{
	border: 0;
	font-size: 1.15em;
	margin: 0.2em 0 0.1em 6em;
	text-align: left;
} 
#userform fieldset:last-child	{
	margin: 0.3em 0 0.5em 0.6em;
} 
/*#userform fieldset input[type='text'], input[type='email'], textarea	{
	border: 0;
	border-radius: 4px;
}*/
@keyframes pulse	{
	0%		{box-shadow: 0 0px 18px rgba(240, 80, 80, 0.2);	}
	50%		{box-shadow: 0 0px 18px rgba(240, 80, 80, 0.9);	}
	100%	{box-shadow: 0 0px 18px rgba(240, 80, 80, 0.2);	}
} 
#userform input:hover, #userform textarea:hover, 
#userform input:focus, #userform textarea:focus	{
	animation: pulse 1.5s infinite ease-in-out;
}
.userlabel	{
	padding: 0 0 3px 3px;
	font-weight: bold;
	color: crimson;
	background-color: white;
	display: block;
	max-width: 12em;
	opacity: 0.6;
	border-radius: 0.3125em;
	border: 0;
}
.userinput	{
	margin: 0;
	padding: 0;
	background-color: #DDDDDD;
	width: 50%;
	border-radius: 0.3125em;
	border: 0;
}
#formcomments	{
	width: 60%;
	background-color: #DDDDDD;
	border-radius: 0.3125em;
	border: 0;
	margin: 0.4em 0 0 0;
}
#submit	{
	color: crimson;
	margin-left: 4em;
	padding: 0 0.6em;
}
#reset	{
	color: crimson;
	margin-left: 1em;
	padding: 0 0.6em;
}
.formbuttons	{
/*	font-family: arimo;
*/	font-style: normal;
	font-size: 1.3em;
	border: 0;
	border-radius: 10px;
	background-color: #CCCCCC;
	background-image: linear-gradient(to right, #AAAAAA, #EEEEEE);
	display: inline;
}
#formreq	{
	color: crimson;
	margin: 0 0 0 4em;
	display: inline-block;
}
.redstar	{
	font-size: 1.25em;
	padding-left: 0.3125em;
	color: #ff0000;
}

main {
	overflow-x: hidden;
}

.parallax_scroll {
	position: relative;
/*	opacity: 0.70;
*/	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#home  {
    background-image: url('../img/4.jpg');
	min-height: 100%;
}

/* Slide 2 */
#about  {
    background-image: url('../img/advanced_computer_science.jpg');
	min-height: 500px;
}

/* Slide 3 */
#slide-3  {
    background-image: url('../img/3.jpg');
	min-height: 500px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000000;
}

.caption span.border {
	background-color: transparent;
	color: #ffffff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111111;
}

.responsive {
 	width: 100%;
	margin: 0.1875em 0;
	padding: 0 0.1875em;
	display: inline-block;
}

@media only screen and (min-width: 481px) {

    .responsive {
        width: 48.99999%;
    }

}

@media only screen and (min-width: 631px) {

    .responsive {
        width: 32.33333%;
    }

}

@media only screen and (min-width: 870px) {

    .responsive {
        width: 23.5%;
    }
	#formcomments	{
		width: 55%;
	}

}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  		.parallax_scroll {
      		background-attachment: scroll;
  		}
}

/*
.hsContainer {
/*	display: table;
	table-layout: fixed;
*\/	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 80%;
	margin: 200px auto 0 auto;
/*	display: table-cell;
*\/	vertical-align: middle;
	color: black;
	padding: 0 8%;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
		color: crimson;
		font-size: 2.8em;
		line-height: 1em;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: black;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}
*/
.headline	{
	margin-top: 0;
	padding-top: 50;
	opacity: 1.0;
	text-align: center;
/*	font-size: 2.25em;
	font-weight: 600;	*/
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-family: Century Gothic, sans-serif;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
}
